body {
    background-color: aliceblue;
}

.container {
    font-family: 'Libre Baskerville', serif;
    position: relative;
    
    
    
}

.anchor {
    
    font-weight: normal;
    color: black;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

.hr {
    background-color: black;
}

.personal {
    color: darkred;
    font-size: 20pt;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

.site {
    display: inline-block;
    height: 55%;
    width: 55%;
    border: 1px solid black;
    position: relative;
    
}

.Fahad {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#main {
    color: rgb(157, 31, 37);
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    
}

#main2 {
    
    font-size: 2rem;
    font-weight: 900;
    display: block;
}

#main3 {
    font-size: 2rem;
    font-weight: 900;
    
}

#main4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    
}

.footer {
    text-transform: uppercase;
}
