* {
    background-color: aliceblue;
}

.anchor {
    font-weight: normal;
    color: black;
    font-family: 'Kanit', sans-serif;
    font-family: 'Sigmar', cursive;
    font-size: 1rem;
    font-weight: 900;
}

.hr {
    background-color: black;
}

.personal {
    color: darkred;
}

.site {
    height: 150px;
    width: 195px;
}

#main {
    color: rgb(157, 31, 37);
}

h1, h3 {
    font-family: 'Kanit', sans-serif;
    font-family: 'Sigmar', cursive;
    font-size: 1rem;
    font-weight: 900;
    
}

