body {
    background-color: aliceblue;
}

.container {
    font-family: 'Kanit', sans-serif;
    font-family: 'Sigmar',cursive;
    
    
}

.anchor {
    font-weight: normal;
    color: black;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.hr {
    background-color: black;
}

.personal {
    color: darkred;
    font-size: 20pt;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.site {
    height: 55%;
    width: 55%;
    border: 1px solid black;
    
}

#main {
    color: rgb(157, 31, 37);
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

#main2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}

#main3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}

#main4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}

.footer {
    text-transform: uppercase;
}
